{{ block "old_index" . }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div id="count">
        {{ template "count" . }}
    </div>
    <button hx-target="#count" hx-post="/count">Count</button>
</body>
</html>

{{ end }}

{{ block "count" . }}
    Count {{ .Count }}
{{ end }}